<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_Z_gboCf_wq-OLqlf_H8Yv35nZ6iG4Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>793591492190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medApp</string>
	<key>PROJECT_ID</key>
	<string>medapp-e9327</string>
	<key>STORAGE_BUCKET</key>
	<string>medapp-e9327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:793591492190:ios:7fa9e64b503765ca1e8ecf</string>
</dict>
</plist>
